nav ul li{
    margin: 0 20px;
    font-size: 20px;
    font-weight: 300;
}

nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-links > li{
    margin: 0;
    transition: 1s ease-in;
}

nav ul li a:hover::after{
    width: 100%;
    border-bottom: 1px solid #fff;
}

ul div svg{
    margin: 0 10px;
    width: 50px;
}

.desc{
    position: absolute;
  bottom: 60px;
  color: #fff;
  font-size: 45px;
  padding-left: 50px;
  font-weight: 300;
  width: 50%;
}
@media only screen and (max-width: 950px){
    .nav{
        display: none;
    }

    ul li {
        margin-bottom: 20px;
    }
    .desc{
        width: 80%;
        margin-bottom: 20%;
    }
}

@media only screen and (max-width: 700px){
    .desc{
        font-size: 35px;
        width: auto;
        margin-bottom: 25%;
    }
}

@media only screen and (max-width: 500px){
    .desc{
        font-size: 25px;
        margin-bottom: 50%;
    }
    nav img{
        width: 85%;
    }
}